header {  
    top: 10px;  
    display: flex;  
    align-items: center;
    margin: 0px auto;
    text-align: center;
    animation: slideDownAnimation 3s ease;
}

nav {
    top: 10px;
    width: 100%;
    position: fixed;
}

header * {  
    display: inline;  
}  

@keyframes slideDownAnimation {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}

header strong {  
    color: rgb(126, 57, 0);  
    text-decoration: none;
    font-family: 'Courier Prime', monospace;  
}

#content {
    margin-top: 50px;
    text-shadow: 10 10 5;
    font-family: 'Itim', cursive;
}